.form {
  width: 40%;
  margin: 40px auto;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 175%;

  h2 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    color: #C22A42;
  }
}

form {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.form-links {
  text-align: center;
  margin: 10px;
  font-style: italic;

  a {
    padding: 5px;
    text-decoration: none;
    color: #333;
  }

  a:hover {
    text-decoration: underline;
  }
}

#user_email, #user_password, #user_password_confirmation {
  width: 85%;
  height: 30px;
  font-size: 1em;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 5px;
}

.submit_button {
  width: 40%;
  height: 35px;
  margin-top: 10px;
  color: #fff;
  background-color: rgba(194, 42, 66, 0.8);
  border: none;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;

  &:hover{
    background-color: transparent;
    border: 1px solid grey;
    color: #333;
  }
}
