.form {
  width: 60%;
  margin: 40px auto;
  border: 1px solid black;

  h2 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
}

form {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.form-links {
  text-align: center;
  margin: 10px;
}
